extends ../layouts/common
block content
	.container.mt-5
		h1 Novel List
		table.table.table-striped.table-bordered
			thead
				tr
					th Avatar
					th Name
					th Type
					th Chapter
					th Status
					th Read more
			tbody
				each novel in novels
					tr
						td
							img(src="../" + novel.avatar, width=80)
						td= novel.name
						td= novel.type
						td= novel.chapter
						td= novel.status
						td
							a(href="#") More
