extends ../layouts/common
block content
	.container.mt-5
		.d-flex.justify-content-between
			h1 Novel List 
			form.form-inline.d-flex(method="GET", action="/novel/search")
					span.form-text.mr-3 Search 
					input.form-control.mr-2(type="text", name="q", value= input) 
					button.btn.btn-outline-primary Tìm kiếm 
		each novel in novels
			a(href="/novel/" + novel.id)
				img.m-3(src= "../" + novel.avatar, style="width:180; height:250")
	
